@page "/peliculas2"
@inject IModalService modal

@* HTML *@
<div class="card-deck d-flex justify-content-center mx-auto" id="card-deck">
    
    @foreach (var film in Films)
    {

        <div class="card d-flex align-items-center my-3 p-1">
            <div class="card-img-info">
                <img src="@film.URLFilmImage" class="card-img-top" alt="@film.FilmName">
                <div class="card-info">
                    <p style="color: white;">@film.FilmDescription</p>
                    <div class="row mb-3 m-0 d-flex justify-content-end" id="container-rate-description">
                        <span class="mr-2">
                            <img src="Images/star.png" id="icon-star-description">
                        </span>
                        <em><h4 class="m-0 p-0" id="rate-description">@film.FilmRate /10</h4></em>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">@film.FilmName</h5>
                <div class="a-group">
                    <a href="@film.URLFilmTrailer" target="_blank" class="btn btn-primary">Ver trailer</a>
                    <a class="btn btn-link" id="btn-details" @onclick="@(()=>modal.Show<InformacionPelicula>("Información adicional"))">Detalles</a>
                </div>
            </div>
        </div>

    }

</div>

@* Barra de paginación *@
<div class="d-flex justify-content-center">
    <nav aria-label="pagination-nav">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="peliculas2">2</a></li>
            <li class="page-item"><a class="page-link" href="peliculas2">3</a></li>
            <li class="page-item">
                <a class="page-link" href="peliculas2">Next</a>
            </li>
        </ul>
    </nav>
</div>

@code {

    private List<Film> GetFilms()
    {
        return new List<Film>
        {
            new Film( 1, "Shang-Chi y la leyenda de los diez anillos", "Español", "1h 30m", "Juan", "Acción", new DateTime(2021,01,05), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 10),
            new Film( 2, "Spider-Man: Un nuevo universo", "Español", "1h 30m", "Lucas", "Acción", new DateTime(2021,02,06), "Images/SpiderMan - Un nuevo universo.png", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=-RSseKOWpEQ", 10),
            new Film( 3, "Free Guy", "Español", "1h 30m", "Andrés", "Acción", new DateTime(2021,03,07), "Images/Free Guy.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 10),
            new Film( 4, "Interstellar", "Español", "1h 30m", "Felipe", "Acción", new DateTime(2021,04,08), "Images/Interstellar.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 9),
            new Film( 5, "Jungle Cruise", "Español", "1h 30m", "Julian", "Acción", new DateTime(2021,05,09), "Images/Jungle Cruise.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 8),
            new Film( 6, "Fast & Furious 9", "Español", "1h 30m", "María", "Acción", new DateTime(2021,06,10), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 7),
            new Film( 7, "Origen", "Español", "1h 30m", "Luisa", "Acción", new DateTime(2021,07,11), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 8),
            new Film( 8, "Forrest Gump", "Español", "1h 30m", "Jose", "Acción", new DateTime(2021,08,12), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 9),
            new Film( 9, "Your Name.", "Español", "1h 30m", "Camila", "Acción", new DateTime(2021,09,13), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 10),
            new Film( 10, "El padrino", "Español", "1h 30m", "Andrea", "Acción", new DateTime(2021,10,14), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 7),
            new Film( 11, "Joker", "Español", "1h 30m", "Julio", "Acción", new DateTime(2021,11,15), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 9),
            new Film( 12, "Malditos bastardos", "Español", "1h 30m", "Martin", "Acción", new DateTime(2021,12,16), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 7),
            new Film( 13, "Vengadores: Endgame", "Español", "1h 30m", "Fernanda", "Acción", new DateTime(2021,01,17), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 10),
            new Film( 14, "La familia Bigfoot", "Español", "1h 30m", "Carlos", "Acción", new DateTime(2021,02,18), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 6),
            new Film( 15, "El hombre elefante", "Español", "1h 30m", "Pedro", "Acción", new DateTime(2021,03,19), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 8),
            new Film( 16, "Jurassic Park (Parque Jurásico)", "Español", "1h 30m", "Zoe", "Acción", new DateTime(2021,04,20), "Images/Shang-Chi y la leyenda de los diez anillos.jpg", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe illo earum voluptatum temporibus doloremque quidem explicabo deserunt, quos, laboriosam culpa veniam aut ipsam eveniet! Quia quo similique dolorem adipisci expedita.",  "https://www.youtube.com/watch?v=BD77EOU8N3o", 10)
        };
    }

    @* public List<Film> Films { get; set; } *@

    public List<Film> Films { get { return GetFilms(); } }

}