@inject NavigationManager navigationManager

<div class="container-fluid div-form p-0">
    <div class="d-flex" style="width: 100%;">
        <input type="text" @bind="film_search" @bind:event="oninput" class="form-control me-2 input-nav-form mr-2 FontSize"
        autocomplete="off" placeholder="Introduzca el nombre de una película, actor o categoría." @onkeypress="@((KeyboardEventArgs e) => EnviarConsulta(e))">
        <button type="button" class="btn btn-outline-success FontSize" @onclick="SearchFilm">Buscar</button>
    </div>
</div>
<div class="my-2">
    <div>
        <div class="form-check my-2">
            <input type="radio" id="exampleRadios1" class="form-check-input" name="filtro" checked="@(SelectedFilter == "pelicula")"
            @onchange="@(() => SelectedFilter = "pelicula")">
            <label for="exampleRadios1" class="form-check-label LabelCheckboxSearch">Película</label>
        </div>
        <div class="form-check my-2 @(@SelectedFilter == "pelicula" ? @EnCarteleraShow = "EnCartelera" : @EnCarteleraShow = "EnCarteleraHiden")">
            <input @bind="CheckEnCartelera" type="checkbox" id="EnCarteleraCheckbox" class="form-check-input">
            <label for="EnCarteleraCheckbox" class="form-check-label LabelCheckboxSearch">En cartelera</label>
        </div>
    </div>
    <div class="form-check my-2">
        <input type="radio" id="exampleRadios2" class="form-check-input" name="filtro" checked="@(SelectedFilter == "actor")"
        @onchange="@(() => { SelectedFilter = "actor"; CheckEnCartelera = false; })">
        <label for="exampleRadios2" class="form-check-label LabelCheckboxSearch">Actor</label>
    </div>
    <div class="form-check my-2">
        <input type="radio" id="exampleRadios3" class="form-check-input" name="filtro" checked="@(SelectedFilter == "categoria")"
        @onchange="@(() => { SelectedFilter = "categoria"; CheckEnCartelera = false; })">
        <label for="exampleRadios3" class="form-check-label LabelCheckboxSearch">Categoría</label>
    </div>
</div>

@code {

    private string film_search = string.Empty;
    private string SelectedFilter = "pelicula";
    private string EnCarteleraShow = string.Empty;
    private bool CheckEnCartelera = false;

    private void SearchFilm()
    {
        if (navigationManager.Uri != "/movies/search" && SelectedFilter == "pelicula")
        {
            navigationManager.NavigateTo("/movies/search");
        }
        Console.WriteLine(film_search);
        Console.WriteLine(SelectedFilter);
    }

    private void EnviarConsulta(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchFilm();
        }
    }

}